@mixin buttonstyle() {
	background-color: $color_accent;
	color: white;
	font-weight: bold;
	padding: 12px 24px;
	text-decoration: none;
	border-radius: 6px;
	min-width: 322px;
	display: inline-block;
	@include font-size(2.6);
}