html {
	font-size: 62.5%;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

body {
	@include font-size(1.6);

	h1 {
		@include font-size(2.6);
	}

	h2 {
		@include font-size(2);
	}

	p {
		@include font-size(1.6);
	}
}