// CONTENT
$color-body-bg: #f9f7f5;
$color-text: #fff;
$color-text-on-accent: #221114;
$color-heading-text: #35495e;

// LINKS
$color-link-text: #fff;

// INPUTS
$color-input: #fff;
$color-input-border: white;
$color-input-bg: #637bde;
$color-input-hover-bg: darken($color-input-bg, 10%);
$color-input-border: transparent;
$color-input-disabled: #cecece;

$color-input-cb: black;
$color-input-cb-border: gray;
