@mixin inputtextstyle() {
  @include responsive-in-small-screens();

  display: inline-block;
  padding: $size-input-padding;
  color: $color-input;
  background-color: $color-input-bg;
  border: $size-input-border solid transparent;
  border-color: $color-input-border;
  border-radius: $size-input-border-radius;

  &:focus {
    border-color: $secondary;
  }

  &:hover {
    background-color: $color-input-hover-bg;
  }
}

@mixin responsive-in-small-screens() {
  width: 90%;
  min-width: 260px;
  max-width: 322px;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
