@mixin buttonstyle() {
  @include responsive-in-small-screens();

  display: inline-block;
  padding: $size-button-padding;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: $color-accent;
  border: $size-button-border solid transparent;
  border-radius: $size-button-border-radius;
  @include font-size(2.6);

  &:focus {
    border-color: $color-blue-dark;
  }

  &:hover {
    background-color: $color-blue-medium;
  }
}
@mixin inputtextstyle() {
  @include responsive-in-small-screens();

  display: inline-block;
  padding: $size-input-padding;
  line-height: $size-content-font-xl + rem;
  color: $color-input;
  background-color: $color-input-bg;
  border: $size-input-border solid transparent;
  border-color: $color-input-border;
  border-radius: $size-input-border-radius;
  @include font-size($size-content-font-xl);

  &:focus {
    border-color: $color-blue-dark;
  }

  &:hover {
    background-color: $color-input-hover-bg;
  }
}
@mixin responsive-in-small-screens() {
  width: 90%;
  min-width: 260px;
  max-width: 322px;
}
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
