// LOGO
$size-logo-margin: 3rem;

// CONTENT
$size-header-height: 6.25rem;

// INPUTS
$size-input-padding-vertical: 1rem;
$size-input-padding-horizontal: 1rem;
$size-input-padding: $size-input-padding-vertical $size-input-padding-horizontal;
$size-input-border: 0.2rem;
$size-input-border-radius: $size-input-padding-vertical * 0.6;
$size-input-wrapper-margin: 5rem auto 2rem;

// INPUT LABELS
$size-input-font: 1rem;
